{{> header}}
<form method="post" action="/new/product">
  <v-container fluid>
     <v-text-field
  		dense
  		label="Titre"
  		filled
  		rounded
  		solo
  		required
  		name="title"
  		>
  </v-text-field>
</v-container>
  <v-container fluid>
     <v-text-field
  		dense
  		label="Type"
  		filled
  		rounded
  		solo
  		required
  		name="type"
  		>
  </v-text-field>
</v-container>
  <v-container fluid>
     <v-text-field
  		dense
  		label="Description"
  		filled
  		rounded
  		solo
  		required
  		name="description"
  		>
  </v-text-field>
</v-container>
  <v-container fluid>
     <v-text-field
  		dense
  		label="Prix/Heure"
  		filled
  		rounded
  		solo
  		required
  		name="price"
  		>
  </v-text-field>
</v-container>
	<v-card-actions>
          <v-btn color="green" >Modifier</v-btn>
          <v-btn color="blue" type="submit">Ajouter</v-btn>
          <v-btn>Annuler</v-btn>
    </v-card-actions>
</form>
{{> footer}}
{{{vue}}}